<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contact:</h3>
        <p class="footer-contact">
          EZ Foam Insulation Inc. <br>
          License #: [Your License Number] <br>
          Phone: 719-822-0117 <br>
          Email: ezfoam@outlook.com<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about.html">About (Who we are)</a></p>
        <p><a href="/services.html">Services (What we do)</a></p>
        <p><a href="/gallery.html">Gallery (Before/After)</a></p>
        <p><a href="/contact.html">Contact (Get in touch)</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Socialize</h3>
        <div id="social-icons">
          {% if site.instagram_link %}
            <a href="{{ site.instagram_link }}" class="btn-group instagram">
              <i class="fa fa-instagram"></i>
            </a>
          {% endif %}
          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}
          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>
  <div class="copyright text-center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, EZ Foam Insulation Inc.
      <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a>
    </p>
  </div>
</footer>
