<head>
  <!-- Meta Data & Title -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - EZ Foam &amp; Insulation Colorado{% else %}EZ Foam &amp; Insulation Colorado{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="EZ Foam &amp; Insulation Colorado provides high-quality spray foam, blown-in, and batt insulation services in Southern Colorado. We help homeowners and businesses enhance energy efficiency and comfort.">
  <meta name="author" content="EZ Foam &amp; Insulation Colorado">


  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
  <link rel="manifest" href="/assets/ico/site.webmanifest">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>

  <!-- CSS -->
  <!-- Google Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/animate.min.css">

  <!-- Theme and Custom CSS -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/main.css">

</head>
