<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
      <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="/index.html">
      <img class="site-logo" src="/assets/img/logo.png" alt="EZ Foam & Insulation Colorado Logo">
    </a>
  </div>


    <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        
        <!-- Dropdown for Services -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Services <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/blown-in-insulation.html">Blown-In Insulation</a></li>
            <li><a href="/batt-insulation.html">Batt Insulation</a></li>
            <li><a href="/spray-foam-insulation.html">Spray Foam Insulation</a></li>
            <li><a href="/insulation-removal.html">Insulation Removal</a></li>
          </ul>
        </li>
        
        <li><a href="/team.html">Team</a></li>
        <li><a href="/contact.html"><span>Contact</span></a></li>
      </ul>         
    </div>
  </div>
</nav>
<!-- End Header -->
