 <!-- navbar.html -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-shadow sticky-top">
    <div class="container">
      <a class="brand-name" href="/"><img class="img-fluid py-1" src="/images/ezfoam-logo.webp" alt="EZ Foam & Insulation Colorado logo" /></a>
      <!-- Mobile Toggle -->
      <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse mt-3 mt-md-0" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown">Services</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/spray-foam-insulation/">Spray Foam Insulation</a>
              </li>
              <li>
                <a class="dropdown-item" href="/batt-insulation/">Batt Insulation</a>
              </li>
              <li>
                <a class="dropdown-item" href="/blown-in-insulation/">Blown-in Insulation</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="areasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Areas Served
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/">Pueblo</a></li>
    <li><a class="dropdown-item" href="/spray-foam-insulation/colorado-springs/">Colorado Springs</a></li>
    <li><a class="dropdown-item" href="/spray-foam-insulation/canon-city/">Canon City</a></li>
    <li><a class="dropdown-item" href="/spray-foam-insulation/lamar/">Lamar</a></li>
  </ul>
</li>
          
          <li class="nav-item">
            <a class="nav-link" href="/gallery/">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
