.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
}

.carousel-fade .carousel-inner .item.active {
  opacity: 1;
}
